# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Env / Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Backend specific
backend/serviceAccountKey.json
*.json
__pycache__/
*.pyc
venv/
.venv/
env/
instance/
.pytest_cache/
.coverage
htmlcov/
